*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}

 h1 {
   font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Maven Pro', sans-serif;

}
.title {
  margin: 30px;
}
#baku {
  background-image: url('../images/baku.jpg');
  background-repeat: no-repeat;
  background-origin: content-box;
  margin-bottom: 10px;
  height: 300px;
  width: 100%;
  background-size: cover;
}
#london {
  background-image: url('../images/london.png');
  background-repeat: no-repeat;
  background-origin: content-box;
  margin-bottom: 10px;
  height: 300px;
  width: 100%;
  background-size: cover;
}
#madrid {
  background-image: url('../images/madrid.jpg');
  background-origin: content-box;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  height: 300px;
  width: 100%;
  background-size: cover;
}
#rome {
  background-image: url('../images/rome.jpg');
  background-origin: content-box;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  height: 300px;
  width: 100%;
  background-size: cover;
}
.heading h2 {
  font-family: serif;
  font-size: 20px;
  padding-top: 40px;
  padding-left: 40px;
}
@media screen and (min-width: 575px){
  section {
    column-count: 2;
    margin: 0px 40px;
  }
  #baku #rome #london #madrid {
    width: 50%;
  }
  }

@media screen and (min-width: 991px){
  section {
    column-count: 4;
    margin: 0px 40px;
  }
  #baku #rome #london #madrid {
    width: 25%;

  }
}
