*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}

.container h1 {font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  margin: : 0, 20px, 0, 50px;

}

.travel-images h1 {
  position: relative;
  text-align: left;
  text-transform: capitalize;
  font-family: serif;
  color: black;

}
.travel-images img {
  display: inline-block;
  width: 25%;
  height: 25%;
}
.preview-baku, .preview-london, .preview-madrid, .preview-rome  h1{
  position: relative;
  top: 20px;
  left: 5px;

}


@media screen and (min-width: 575px){
  section {
    column-count: 2;}
  }

@media screen and (min-width: 991px){
  section {
    column-count: 4;
  }
}
